@model WebQuanLyResort.Models.BookingInfo
@{
    ViewBag.Title = "Moderna - Booking";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}
@{ 
    ViewBag.acong = "@";
}
<div style="padding-top:80px; padding-bottom:10px;">
    <form action="/phong/xacnhanthongtin" method="post">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">

                <h1 class="text-center m-2">THÔNG TIN ĐẶT PHÒNG</h1>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="ten_khachhang">Họ và tên</label>
                        <input class="form-control" type="text" name="ten_khachhang" id="ten_khachhang" value="@ViewBag.user.HoTenUser" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-uppercase" for="ngay_sinh">Ngày sinh</label>
                        <input class="form-control" type="date" name="ngay_sinh" id="ngay_sinh" value="@ViewBag.user.BirthDay" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="dia_chi">Địa chỉ</label>
                        <input class="form-control" type="text" name="dia_chi" id="dia_chi" value="@ViewBag.user.Address" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-uppercase" for="sdt">Số điện thoại</label>
                        <input class="form-control" type="tel" name="sdt" id="sdt" value="@ViewBag.user.PhoneNumber" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="cmnd">CCCD</label>
                        <input class="form-control" type="number" name="cmnd" id="cmnd" value="@ViewBag.user.CCCD" disabled/>
                        <input class="form-control d-none" type="number" name="cmnd" id="cmnd" value="@ViewBag.user.CCCD" />
                    </div>
                    <div class="col-md-6">
                        <label  class="text-uppercase" for="gioi_tinh">Giới tính</label>
                        <select class="form-control" name="gioi_tinh" id="gioi_tinh">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-uppercase" for="email_khachhang">Email</label>
                        <input class="form-control" type="email" name="email_khachhang" id="email_khachhang" value="@ViewBag.user.Email" disabled/>
                        <input class="form-control d-none" type="email" name="email_khachhang" id="email_khachhang" value="@ViewBag.user.Email" />
                        @Html.ValidationSummary()
                    </div>

                </div>

                <div class="p-3 text-center">
                    <strong style="font-size:15px" class="note">Vui lòng kiểm tra thông tin cá nhân, nếu đầy đủ thì ấn tiếp tục</strong>
                </div>
            </div>

            <script>
                // Kiểm tra ràng buộc ngày sinh phải đủ 18 tuổi
                document.getElementById('ngay_sinh').addEventListener('change', function () {
                    var dob = new Date(this.value);
                    var today = new Date();
                    var age = today.getFullYear() - dob.getFullYear();
                    var monthDiff = today.getMonth() - dob.getMonth();
                    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
                        age--;
                    }
                    if (age < 18) {
                        alert('Khách hàng phải đủ 18 tuổi trở lên.');
                        this.value = ''; // Xóa ngày sinh nếu không đủ tuổi
                    }
                });

                // Kiểm tra ràng buộc số điện thoại phải đủ 10 số
                document.getElementById('sdt').addEventListener('change', function () {
                    if (this.value.length !== 10) {
                        alert('Số điện thoại phải đủ 10 số. Vui lòng nhập lại.');
                        this.value = ''; // Xóa số điện thoại nếu không đủ độ dài
                    }
                });
                // Kiểm tra ràng buộc số điện thoại phải đủ 10 số
                document.getElementById('cmnd').addEventListener('change', function () {
                    if (this.value.length !== 12) {
                        alert('CCCD phải đủ 12 số. Vui lòng nhập lại.');
                        this.value = ''; // Xóa số điện thoại nếu không đủ độ dài
                    }
                });

                document.getElementById('email_khachhang').addEventListener('change', function () {
                    if (!validateEmail(this.value)) {
                        alert('Email không đúng định dạng. Vui lòng nhập lại.');
                    }
                });
            </script>

            <div class="col-md-3 mt-3">
                <div class="p-3" style="border: 2px solid black; width: 450px">
                    <h3 class="text-center">ĐẶT HÀNG CỦA BẠN</h3>


                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <h5>@Model.tenphong</h5>
                            <p>TỪ NGÀY: @Model.CheckInDate.ToString("dd/MM/yyyy")</p>
                            <input class="d-none" type="text" name="CheckInDate" id="CheckInDate" value="@Model.CheckInDate" />
                            <input class="d-none" type="text" name="ngaydat" value="@Model.CheckInDate" />
                            <input class="d-none" type="text" name="idphong" id="idphong" value="@Model.idphong" />
                            <p>ĐẾN NGÀY: @Model.CheckOutDate.ToString("dd/MM/yyyy")</p>
                            <input class="d-none" type="text" name="CheckOutDate" id="CheckOutDate" value="@Model.CheckOutDate" />
                            <p>SỐ NGÀY Ở: @Model.songayo ngày</p>
                            <p>Số khách: @Model.songuoio</p>
                            <input class="d-none" type="text" name="songuoio" id="songuoio" value="@Model.songuoio" />
                            <input class="d-none" type="text" name="songayo" id="songayo" value="@Model.songayo" />
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            @Model.datcoc.ToString("C")
                            <input class="d-none" type="text" name="datcoc" id="datcoc" value="@Model.datcoc" />
                            <input class="d-none" type="text" name="tongtien" id="tongtien" value="@Model.tongtien" />
                            <input class="d-none" type="text" name="tenphong" id="tenphong" value="@Model.tenphong" />
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tiền phòng</strong>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <p>@Model.tongtien.ToString("C")</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tổng tiền</strong>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <p>@Model.tongtien.ToString("C")</p>
                        </div>
                    </div>

                    <button  type="submit" class="btn btn-warning text-white">Tiếp tục</button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </form>


</div>
<script>
    function checkInputs() {
        //var tenKhachHang = document.getElementById('ten_khachhang').value.trim();
        var ngaySinh = document.getElementById('ngay_sinh').value.trim();
        var diaChi = document.getElementById('dia_chi').value.trim();
        var sdt = document.getElementById('sdt').value.trim();
        var cmnd = document.getElementById('cmnd').value.trim();
        var email = document.getElementById('email_khachhang').value.trim();

        var submitButton = document.querySelector('.btn.btn-warning.text-white');

        if (/*tenKhachHang !== '' &&*/ ngaySinh !== ''  && sdt !== '' && cmnd !== '' && email !== '') {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'disabled');
        }
    }

    // Gắn sự kiện 'input' cho từng input để kiểm tra khi có thay đổi
    var inputs = document.querySelectorAll('input, select');
    inputs.forEach(function (input) {
        input.addEventListener('input', checkInputs);
    });


</script>
