@model WebQuanLyResort.Models.phong
@{
    ViewBag.Title = "Moderna - Đặt phòng";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}
@{
    ViewBag.date = 0;
    ViewBag.dif = 0;
}

<style>
    .card {
        border: 1px solid #ced4da; /* Màu border mặc định */
        transition: border-color 0.3s ease-in-out; /* Hiệu ứng chuyển đổi khi hover */
    }

        .card:hover {
            border-color: #28a745; /* Đổi màu border khi hover */
            transition: all 0.3s ease-in-out;
        }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="row" style="margin-top: 80px">
        <div class="col-4">

        </div>
        <div class="col-4">
            @if (Model.trang_thai == "Còn trống")
            {
                <form action="/phong/checkout?UserName=@User.Identity.Name" method="post" id="bookingForm" onsubmit="return validateForm()">


                    <div class="d-flex justify-content-center">
                        <h1 style="color: #b48428; text-align: center" class="text-uppercase mt-3">@Model.loaiphong.ten_loai</h1>
                        <input class="d-none" type="text" name="idphong" value="@Model.id_phong" />
                        <input class="d-none" type="text" name="tenphong" value="@Model.loaiphong.ten_loai" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <p style="text-align:center">@Model.MoTa</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p style="color: #b48428">@Model.loaiphong.gia.ToString("C")</p>
                    </div>
                    <div class="row">
                        @*<div class="d-flex justify-content-center mb-3">
                                Ngày
                            </div>*@
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                    <label for="dateInput">Ngày đặt phòng</label>
                                    <input class="form-control" type="date" id="dateInput" name="CheckInDate" value="" />

                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var today = new Date();
                                            var dd = String(today.getDate()).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();

                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateInput").value = today;
                                        });
                                    </script>
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                    <label for="dateInput2">Ngày trả phòng</label>
                                    <input class="form-control" type="date" id="dateInput2" name="CheckOutDate" value="" onchange="calculateDateDifference()" />
                                    <script>
                                        function validateForm() {
                                            var checkOutDate = document.getElementById("dateInput2").value;

                                            // Kiểm tra xem trường input có giá trị không
                                            if (checkOutDate === '') {
                                                alert("Vui lòng chọn ngày trả phòng!");
                                                return false; // Ngăn chặn việc gửi form nếu trường input chưa được điền thông tin
                                            }

                                            // Nếu mọi thứ hợp lệ, cho phép gửi form
                                            return true;
                                        }
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var today = new Date();
                                            var dd = String(today.getDate() + 1).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();

                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateInput2").min = today;
                                        });


                                    </script>
                                    <!-- Phần JavaScript -->

                                    <script>
                      function calculateDateDifference() {
                          var date1 = document.getElementById("dateInput").value;
                          var date2 = document.getElementById("dateInput2").value;

                          var diffInMilliseconds = Math.abs(new Date(date2) - new Date(date1));
                          var diffInDays = Math.ceil(diffInMilliseconds / (1000 * 60 * 60 * 24));

                          var totalPrice = @Model.loaiphong.gia * 0.75 * diffInDays;
                          var datcoc = @Model.loaiphong.gia * 0.75
                          document.getElementById("result").innerText = datcoc.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("datcoc2").innerText = " (đặt cọc 75%)" + " x " + diffInDays + " day";
                          document.getElementById("tien").innerText = totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("tong").innerText = totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("booking").style.display = "flex";

                          document.getElementById("inputsongayo").value = diffInDays;
                          document.getElementById("inputdatcoc").value = datcoc;
                          document.getElementById("inputtongtien").value = totalPrice;

                      }
                                    </script>
                                    <input class="d-none" type="text" name="songayo" id="inputsongayo" value="" />
                                    <input class="d-none" type="text" name="datcoc" id="inputdatcoc" value="" />
                                    <input class="d-none" type="text" name="tongtien" id="inputtongtien" value="" />
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" style="text-align:center">
                            <label for="songuoio">Số người ở</label>
                        </div>
                    </div>
                    <div class="row p-3">
                        <input style="text-align: center" type="text" class="form-control" name="songuoio" id="songuoio" value="1" />
                    </div>

                    <script>
      // Lấy giá trị của @Model.so_luong_nguoi từ code Razor và chuyển sang JavaScript
      var soNguoiO = parseInt('@Model.so_luong_nguoi');

      document.getElementById('songuoio').addEventListener('change', function() {
          var inputValue = parseInt(this.value);

          if (inputValue > soNguoiO) {
              alert('Quy định số người ở phòng này không vượt quá ' + soNguoiO + '. Vui lòng xem mô tả chi tiết.');
              this.value = soNguoiO; // Gán lại giá trị là giá trị tối đa cho phép
          }
      });
                    </script>


                    <div class="row" style="display: none" id="booking">
                        <div class="col-md-6">
                            <span id="result" style="color: #b48428"></span><span id="datcoc2"></span>
                        </div>
                        <div class="col-md-6  d-flex justify-content-end">
                            <span id="tien" style="color: #b48428">@(Model.loaiphong.gia * 0.75) * @ViewBag.date</span>
                        </div>
                        <hr />
                        <div class="col-md-6" style="text-align: center">
                            Total
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <span id="tong" style="color: #b48428"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-warning w-100 text-white" href="#">ĐẶT PHÒNG</button>
                    </div>
                    <br />
                </form>
            }
            else
            {
                <h1 style="color: #ff0000; text-align: center" class="text-uppercase mt-3">HẾT PHÒNG</h1>
                <span>Vui lòng liên hệ SĐT : 0909090975xx để biết thêm chi tiết</span>
                <br />
            }

        </div>
        <div class="col-4">

        </div>
    </div>
}
else
{
    <div class="row" style="margin-top: 80px">
        <div class="col-4">

        </div>
        <div class="col-4">
            @if (Model.trang_thai == "Còn trống")
            {
                <form action="/phong/checkout" method="post" id="bookingForm" onsubmit="return validateForm()">


                    <div class="d-flex justify-content-center">
                        <h1 style="color: #b48428; text-align: center" class="text-uppercase mt-3">@Model.loaiphong.ten_loai</h1>
                        <input class="d-none" type="text" name="idphong" value="@Model.id_phong" />
                        <input class="d-none" type="text" name="tenphong" value="@Model.loaiphong.ten_loai" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <p style="text-align:center">@Model.MoTa</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p style="color: #b48428">@Model.loaiphong.gia.ToString("C")</p>
                    </div>
                    <div class="row">
                        @*<div class="d-flex justify-content-center mb-3">
                                Ngày
                            </div>*@
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                    <label for="dateInput">Ngày đặt phòng</label>
                                    <input class="form-control" type="date" id="dateInput" name="CheckInDate" value="" />

                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var today = new Date();
                                            var dd = String(today.getDate()).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();

                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateInput").value = today;
                                        });
                                    </script>
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                    <label for="dateInput2">Ngày trả phòng</label>
                                    <input class="form-control" type="date" id="dateInput2" name="CheckOutDate" value="" onchange="calculateDateDifference()" />
                                    <script>
                                        function validateForm() {
                                            var checkOutDate = document.getElementById("dateInput2").value;

                                            // Kiểm tra xem trường input có giá trị không
                                            if (checkOutDate === '') {
                                                alert("Vui lòng chọn ngày trả phòng!");
                                                return false; // Ngăn chặn việc gửi form nếu trường input chưa được điền thông tin
                                            }

                                            // Nếu mọi thứ hợp lệ, cho phép gửi form
                                            return true;
                                        }
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var today = new Date();
                                            var dd = String(today.getDate() + 1).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();

                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateInput2").min = today;
                                        });


                                    </script>
                                    <!-- Phần JavaScript -->

                                    <script>
                      function calculateDateDifference() {
                          var date1 = document.getElementById("dateInput").value;
                          var date2 = document.getElementById("dateInput2").value;

                          var diffInMilliseconds = Math.abs(new Date(date2) - new Date(date1));
                          var diffInDays = Math.ceil(diffInMilliseconds / (1000 * 60 * 60 * 24));

                          var totalPrice = @Model.loaiphong.gia * 0.75 * diffInDays;
                          var datcoc = @Model.loaiphong.gia * 0.75
                          document.getElementById("result").innerText = datcoc.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("datcoc2").innerText = " (đặt cọc 75%)" + " x " + diffInDays + " day";
                          document.getElementById("tien").innerText = totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("tong").innerText = totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                          document.getElementById("booking").style.display = "flex";

                          document.getElementById("inputsongayo").value = diffInDays;
                          document.getElementById("inputdatcoc").value = datcoc;
                          document.getElementById("inputtongtien").value = totalPrice;

                      }
                                    </script>
                                    <input class="d-none" type="text" name="songayo" id="inputsongayo" value="" />
                                    <input class="d-none" type="text" name="datcoc" id="inputdatcoc" value="" />
                                    <input class="d-none" type="text" name="tongtien" id="inputtongtien" value="" />
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" style="text-align:center">
                            <label for="songuoio">Số người ở</label>
                        </div>
                    </div>
                    <div class="row p-3">
                        <input style="text-align: center" type="text" class="form-control" name="songuoio" id="songuoio" value="1" />
                    </div>

                    <script>
      // Lấy giá trị của @Model.so_luong_nguoi từ code Razor và chuyển sang JavaScript
      var soNguoiO = parseInt('@Model.so_luong_nguoi');

      document.getElementById('songuoio').addEventListener('change', function() {
          var inputValue = parseInt(this.value);

          if (inputValue > soNguoiO) {
              alert('Quy định số người ở phòng này không vượt quá ' + soNguoiO + '. Vui lòng xem mô tả chi tiết.');
              this.value = soNguoiO; // Gán lại giá trị là giá trị tối đa cho phép
          }
      });
                    </script>


                    <div class="row" style="display: none" id="booking">
                        <div class="col-md-6">
                            <span id="result" style="color: #b48428"></span><span id="datcoc2"></span>
                        </div>
                        <div class="col-md-6  d-flex justify-content-end">
                            <span id="tien" style="color: #b48428">@(Model.loaiphong.gia * 0.75) * @ViewBag.date</span>
                        </div>
                        <hr />
                        <div class="col-md-6" style="text-align: center">
                            Total
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <span id="tong" style="color: #b48428"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-warning w-100 text-white" href="#">ĐẶT PHÒNG</button>
                    </div>
                    <br />
                </form>
            }
            else
            {
                <h1 style="color: #ff0000; text-align: center" class="text-uppercase mt-3">HẾT PHÒNG</h1>
                <span>Vui lòng liên hệ SĐT : 0909090975xx để biết thêm chi tiết</span>
                <br />
            }

        </div>
        <div class="col-4">

        </div>
    </div>
}


<div class="row p-5">
    <div class="col-2">

    </div>
    <div class="col-3">
        <img class="w-100" style="height: 360px; box-shadow: 5px 5px 20px 0px lightgray; border-radius: 10px" src="~/Image/HinhAnh/@Model.HinhAnh.Trim()" alt="Alternate Text" />
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4" style="border-radius: 10px">
                    <div class="card-body">
                        <h4 class="card-title text-success">Mô tả chi tiết</h4>
                        <div class="detail-info">
                            <div class="row">
                                <div class="col-5">
                                    <p class="">Diện tích:</p>
                                    <p class="">Giường:</p>
                                    <p class="">Tiêu chuẩn:</p>
                                </div>
                                <div class="col-7">
                                    <p>@Model.DienTich</p>
                                    <p>@Model.Giuong</p>
                                    <p>@Model.so_luong_nguoi khách</p>
                                </div>
                            </div>
                            <ul class="text-muted">
                                <li>Giá trên đã bao gồm 10% VAT</li>
                                <li>Giá chưa bao gồm 5% phí phục vụ chức ăn trong phòng</li>
                                <li>Check-in: 14:00</li>
                                <li>Check-out: 12:00</li>
                                <li>Giá thay đổi theo từng thời điểm</li>
                                <li>Phụ thu 10% trên giá niêm yết vào giai đoạn lễ 02/09 (01/09-03/09/2023)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4" style="border-radius: 10px">
                    <div class="card-body">
                        <h4 class="card-title text-success">Bao gồm</h4>
                        <ul class="text-muted">
                            <li>Ăn sáng</li>
                            <li>Đồ uống chào mừng</li>
                            <li>Trái cây tươi trong phòng</li>
                            <li>Nước suối, trà, cà phê mỗi ngày</li>
                            <li>Miễn phí sử dụng hồ bơi</li>
                            <li>Miễn phí dịch vụ câu cá</li>
                            <li>Miễn phí truy cập internet</li>
                            <li>Miễn phí sử dụng bãi đậu xe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">

    </div>
</div>
@{
    ViewBag.index = 1;
}
<div style="background-color: #f3f8fa" class="p-3">
    <div class="d-flex justify-content-center">
        <h2 class="text-success mt-2 mb-3">CÁC LOẠI PHÒNG KHÁC</h2>
    </div>
    <div class="d-flex justify-content-center ">
        <h2 class="text-warning mb-3">DANH SÁCH PHÒNG MÀ BẠN CÓ THỂ QUAN TÂM</h2>
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="row row-cols-3">
                @foreach (var item in ViewBag.phong)
                {
                    if (ViewBag.index < 4)
                    {
                        if (item.trang_thai == "Còn trống")
                        {
                            <div class="col">
                                <div class="card p-2" style="border-radius: 10px">
                                    <img style="height: 300px; border-radius: 10px" src="~/Image/HinhAnh/@item.HinhAnh.Trim()" alt="Alternate Text" />
                                    <div class="card-body">
                                        <h4 class="text-primary">@item.loaiphong.ten_loai</h4>
                                        <p style="color: #ff0000; font-size:22px;" >@item.loaiphong.gia.ToString("C")</p>
                                        <div class="row">
                                            <div class="col-6">
                                                Diện tích
                                            </div>
                                            <div class="col-6">
                                                : @item.DienTich
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                Giường
                                            </div>
                                            <div class="col-6">
                                                : @item.Giuong
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                Tiêu chuẩn
                                            </div>
                                            <div class="col-6">
                                                : @item.so_luong_nguoi khách
                                            </div>
                                        </div>
                                        <a class="btn btn-info text-white" href="#">ĐẶT PHÒNG</a>
                                        <a class="btn btn-outline-danger" href="/phong/index?id=@item.id_phong">XEM CHI TIẾT</a>
                                    </div>
                                </div>
                            </div>
                            ViewBag.index += 1;
                        }
                    }
                }
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dateInput = document.getElementById("dateInput");
        var dateInput2 = document.getElementById("dateInput2");

        dateInput.addEventListener("change", calculateDateDifference);
        dateInput2.addEventListener("change", calculateDateDifference);

        function calculateDateDifference() {
            var date1 = new Date(dateInput.value);
            var date2 = new Date(dateInput2.value);

            var timeDifference = Math.abs(date2 - date1);
            var dateDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));

            // Cập nhật giá trị cho ViewBag.date
            ViewBag.date = dateDifference;

            // Hiển thị kết quả
            var resultElement = document.getElementById("result");
            resultElement.textContent = "@(Model.loaiphong.gia * 0.75) x " + ViewBag.date + " day";
        }
    });
</script>