@model WebQuanLyResort.Models.BookingInfo
@{
    ViewBag.Title = "Moderna - Xác nhận thông tin đặt phòng";
    Layout = "~/Views/Shared/_LayoutPageChiTiet.cshtml";
}

<div style="padding-top:80px">
    <form action="/phong/datphong" method="post">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">

                <h2 class="text-center m-2">XÁC NHẬN THÔNG TIN ĐẶT PHÒNG</h2>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="ten_khachhang">Họ tên</label>
                        <input class="form-control" type="text" name="ten_khachhang" id="ten_khachhang" value="@ViewBag.khachhang.ten_khachhang" disabled />
                        <input class="form-control d-none" type="text" name="ten_khachhang" id="ten_khachhang" value="@ViewBag.khachhang.ten_khachhang" />
                        <input class="form-control d-none" type="text" name="id_khachhang" id="id_khachhang" value="@ViewBag.khachhang.id_khachhang" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-uppercase" for="ngay_sinh">Ngày sinh</label>
                        <input class="form-control" type="text" name="ngay_sinh" id="ngay_sinh" value="@ViewBag.date" disabled />
<input class="form-control d-none" type="text" name="ngay_sinh" id="ngay_sinh" value="@ViewBag.date" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="dia_chi">Địa chỉ</label>
                        <input class="form-control" type="text" name="dia_chi" id="dia_chi" value="@ViewBag.khachhang.dia_chi" disabled />
                        <input class="form-control d-none" type="text" name="dia_chi" id="dia_chi" value="@ViewBag.khachhang.dia_chi" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-uppercase" for="sdt">Số điện thoại</label>
                        <input class="form-control" type="tel" name="sdt" id="sdt" value="@ViewBag.khachhang.sdt" disabled />
                        <input class="form-control d-none" type="tel" name="sdt" id="sdt" value="@ViewBag.khachhang.sdt" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="cmnd">CMND</label>
                        <input class="form-control" type="number" name="cmnd" id="cmnd" value="@ViewBag.khachhang.cmnd" disabled />
                        <input class="form-control d-none" type="number" name="cmnd" id="cmnd" value="@ViewBag.khachhang.cmnd" />
                    </div>
                    <div class="col-md-6">
                        <label class="text-uppercase" for="gioi_tinh">Giới tính</label>
                        <input class="form-control" type="text" name="gioi_tinh" id="gioi_tinh" value="@ViewBag.khachhang.gioi_tinh" disabled />
                        <input class="form-control d-none" type="text" name="gioi_tinh" id="gioi_tinh" value="@ViewBag.khachhang.gioi_tinh" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-uppercase" for="email_khachhang">Email</label>
                        <input class="form-control" type="text" name="email_khachhang" id="email_khachhang" value="@ViewBag.khachhang.email_khachhang" disabled />
                        <input class="form-control d-none" type="text" name="email_khachhang" id="email_khachhang" value="@ViewBag.khachhang.email_khachhang" />
                    </div>
                </div>
            </div>

            <script>
                // Kiểm tra ràng buộc ngày sinh phải đủ 18 tuổi
                document.getElementById('ngay_sinh').addEventListener('change', function () {
                            var dob = new Date(this.value);
                            var today = new Date();
                            var age = today.getFullYear() - dob.getFullYear();
                            var monthDiff = today.getMonth() - dob.getMonth();
                            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dob.getDate())) {
                                age--;
                            }
                            if (age < 18) {
                                alert('Khách hàng phải đủ 18 tuổi trở lên.');
                                this.value = ''; // Xóa ngày sinh nếu không đủ tuổi
                            }
                        });

                // Kiểm tra ràng buộc số điện thoại phải đủ 10 số
                document.getElementById('sdt').addEventListener('change', function () {
                            if (this.value.length !== 10) {
                                alert('Số điện thoại phải đủ 10 số.');
                                this.value = ''; // Xóa số điện thoại nếu không đủ độ dài
                            }
                        });
            </script>

            <div class="col-md-3 mt-3">
                <div class="p-3" style="border: 2px solid black; width: 450px">
                    <h3 class="text-center">ĐẶT HÀNG CỦA BẠN</h3>


                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <p>@Model.tenphong</p>
                            <p>TỪ NGÀY: @Model.CheckInDate.ToString("dd/MM/yyyy")</p>
                            <input class="d-none" type="text" name="check_in" value="@Model.CheckInDate" />
                            <input class="d-none" type="text" name="ngaydat" value="@Model.CheckInDate" />
                            <input class="d-none" type="text" name="id_phong" value="@Model.idphong" />
                            <p>ĐẾN NGÀY: @Model.CheckOutDate.ToString("dd/MM/yyyy")</p>
                            <input class="d-none" type="text" name="check_out" value="@Model.CheckOutDate" />
                            <p>SỐ NGÀY Ở: @Model.songayo ngày</p>
                            <p>Số khách: @Model.songuoio</p>
                            <input class="d-none" type="text" name="so_nguoi_o" value="@Model.songuoio" />
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            @Model.datcoc.ToString("C")
                            <input class="d-none" type="text" name="dat_coc" value="@Model.datcoc" />
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tiền phòng</strong>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <p>@Model.tongtien.ToString("C")</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Tổng tiền</strong>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <p>@Model.tongtien.ToString("C")</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning text-white">Đặt phòng</button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </form>


</div>

